In [26]:
#Jake Dineen
#3.5 Reading CSV files
import os
import csv
path = os.getcwd()  #Get Current working Directory
os.listdir(path)  #Get path to movie review files
file = 'states_data.tsv'
statesList = []

with open(file, 'rU') as csvfile:

    # the csv file reader returns a list of the csv items on each line

    stateReader = csv.reader(csvfile, dialect='excel', delimiter='\t')

    # from each line, a list of row items, put each element in a dictionary

    #   with a key representing the data

    for line in stateReader:

        # skip lines without data, specific for each file to catch non-data lines

        if line[0] == '' or line[0].startswith('Data') or line[0].startswith('*'):

            continue

        else:

            # create a dictionary for each state

            state = {}

            # add each piece of data under a key representing that column data

            state['name'] = line[0]

            state['abbrev'] = line[1]

            state['code'] = line[2]

            state['area'] = int(line[3].replace(',', ''))

            state['pop'] = int(line[4].replace(',', ''))

            # add this state to the list

            statesList.append(state)

csvfile.close()


# print a few fields from all of the states read from the file

for state in statesList:

    print('State:', state['name'], ' Abbreviation: ', state['abbrev'], ' Population: ',
          state['pop'])

State: Alabama  Abbreviation:  Ala.  Population:  4040587
State: Alaska  Abbreviation:  Alaska  Population:  550043
State: Arizona  Abbreviation:  Ariz.  Population:  3665228
State: Arkansas  Abbreviation:  Ark.  Population:  2350725
State: California  Abbreviation:  Calif.  Population:  29769021
State: Colorado  Abbreviation:  Colo.  Population:  3294394
State: Connecticut  Abbreviation:  Conn.  Population:  3287116
State: Delaware  Abbreviation:  Del.  Population:  666168
State: District of Columbia  Abbreviation:  D.C.  Population:  606900
State: Florida  Abbreviation:  Fla.  Population:  12937926
State: Georgia  Abbreviation:  Ga.  Population:  6478216
State: Hawaii  Abbreviation:  Hawaii  Population:  1108229
State: Idaho  Abbreviation:  Idaho  Population:  1006749
State: Illinois  Abbreviation:  Ill.  Population:  11430602
State: Indiana  Abbreviation:  Ind.  Population:  5544159
State: Iowa  Abbreviation:  Iowa  Population:  2776755
State: Kansas  Abbreviation:  Kans.  Population:  2477574
State: Kentucky  Abbreviation:  Ky.  Population:  3685296
State: Louisiana  Abbreviation:  La.  Population:  4219973
State: Maine  Abbreviation:  Maine  Population:  1227928
State: Maryland  Abbreviation:  Md.  Population:  4781468
State: Massachusetts  Abbreviation:  Mass.  Population:  6016425
State: Michigan  Abbreviation:  Mich.  Population:  9295297
State: Minnesota  Abbreviation:  Minn.  Population:  4375099
State: Mississippi  Abbreviation:  Miss.  Population:  2573216
State: Missouri  Abbreviation:  Mo.  Population:  5117073
State: Montana  Abbreviation:  Mont.  Population:  799065
State: Nebraska  Abbreviation:  Nebr.  Population:  1578385
State: Nevada  Abbreviation:  Nev.  Population:  1201833
State: New Hampshire  Abbreviation:  N.H.  Population:  1109252
State: New Jersey  Abbreviation:  N.J.  Population:  7730188
State: New Mexico  Abbreviation:  N.Mex.  Population:  1515069
State: New York  Abbreviation:  N.Y.  Population:  17990455
State: North Carolina  Abbreviation:  N.C.  Population:  6628637
State: North Dakota  Abbreviation:  N.Dak.  Population:  638800
State: Ohio  Abbreviation:  Ohio  Population:  10847115
State: Oklahoma  Abbreviation:  Okla.  Population:  3145585
State: Oregon  Abbreviation:  Oreg.  Population:  2842321
State: Pennsylvania  Abbreviation:  Pa.  Population:  11881643
State: Rhode Island  Abbreviation:  R.I.  Population:  1003464
State: South Carolina  Abbreviation:  S.C.  Population:  3468703
State: South Dakota  Abbreviation:  S.Dak.  Population:  696004
State: Tennessee  Abbreviation:  Tenn.  Population:  4877185
State: Texas  Abbreviation:  Tex.  Population:  16986510
State: Utah  Abbreviation:  Utah  Population:  1722850
State: Vermont  Abbreviation:  Vt.  Population:  562758
State: Virginia  Abbreviation:  Va.  Population:  6187358
State: Washington  Abbreviation:  Wash.  Population:  4866692
State: West Virginia  Abbreviation:  W.Va.  Population:  1793477
State: Wisconsin  Abbreviation:  Wis.  Population:  4891769
State: Wyoming  Abbreviation:  Wyo.  Population:  453588
State: United States  Abbreviation:    Population:  248691873

C:\Users\jdine\Documents\Anaconda3\envs\tensorflowlatest\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: 'U' mode is deprecated
  # Remove the CWD from sys.path while we load stuff.

In [32]:
import pandas as pd
pd.read_csv(file, sep = '\t')[:51]

      Data of the States State Abbrev. Postal Abbrev. Area (Sq Mi) Population*
0                Alabama          Ala.             AL       52,423   4,040,587
1                 Alaska        Alaska             AK      656,424     550,043
2                Arizona         Ariz.             AZ      114,006   3,665,228
3               Arkansas          Ark.             AR       53,182   2,350,725
4             California        Calif.             CA      163,707  29,769,021
5               Colorado         Colo.             CO      104,100   3,294,394
6            Connecticut         Conn.             CT        5,544   3,287,116
7               Delaware          Del.             DE        2,489     666,168
8   District of Columbia          D.C.             DC           68     606,900
9                Florida          Fla.             FL       65,756  12,937,926
10               Georgia           Ga.             GA       59,441   6,478,216
11                Hawaii        Hawaii             HI       10,932   1,108,229
12                 Idaho         Idaho             ID       83,574   1,006,749
13              Illinois          Ill.             IL       57,918  11,430,602
14               Indiana          Ind.             IN       36,420   5,544,159
15                  Iowa          Iowa             IA       56,276   2,776,755
16                Kansas         Kans.             KS       82,282   2,477,574
17              Kentucky           Ky.             KY       40,411   3,685,296
18             Louisiana           La.             LA       51,843   4,219,973
19                 Maine         Maine             ME       35,387   1,227,928
20              Maryland           Md.             MD       12,407   4,781,468
21         Massachusetts         Mass.             MA       10,555   6,016,425
22              Michigan         Mich.             MI       96,705   9,295,297
23             Minnesota         Minn.             MN       86,943   4,375,099
24           Mississippi         Miss.             MS       48,434   2,573,216
25              Missouri           Mo.             MO       69,709   5,117,073
26               Montana         Mont.             MT      147,046     799,065
27              Nebraska         Nebr.             NE       77,358   1,578,385
28                Nevada          Nev.             NV      110,567   1,201,833
29         New Hampshire          N.H.             NH        9,351   1,109,252
30            New Jersey          N.J.             NJ        8,722   7,730,188
31            New Mexico        N.Mex.             NM      121,598   1,515,069
32              New York          N.Y.             NY       54,471  17,990,455
33        North Carolina          N.C.             NC       53,821   6,628,637
34          North Dakota        N.Dak.             ND       70,704     638,800
35                  Ohio          Ohio             OH       44,828  10,847,115
36              Oklahoma         Okla.             OK       69,903   3,145,585
37                Oregon         Oreg.             OR       98,386   2,842,321
38          Pennsylvania           Pa.             PA       46,058  11,881,643
39          Rhode Island          R.I.             RI        1,545   1,003,464
40        South Carolina          S.C.             SC       32,008   3,468,703
41          South Dakota        S.Dak.             SD       77,121     696,004
42             Tennessee         Tenn.             TN       42,146   4,877,185
43                 Texas          Tex.             TX      268,601  16,986,510
44                  Utah          Utah             UT       84,904   1,722,850
45               Vermont           Vt.             VT        9,615     562,758
46              Virginia           Va.             VA       42,777   6,187,358
47            Washington         Wash.             WA       71,302   4,866,692
48         West Virginia         W.Va.             WV       24,231   1,793,477
49             Wisconsin          Wis.             WI       65,499   4,891,769
50               Wyoming          Wyo.             WY       97,818     453,588