In [1]:
import numpy as np
import pandas as pd

#Create dict
persondict = {'person':['Bob','Alice','Steve'], 'age':[32, 24, 64], 'weight':[128, 86, 95]}

#Store in a df
people = pd.DataFrame(persondict, columns =['person', 'age', 'weight'])
people.set_index('person', inplace = True)
people

        age  weight
person
Bob      32     128
Alice    24      86
Steve    64      95

In [2]:
#Stack into tall object
people = people.stack()
people.index

MultiIndex(levels=[['Bob', 'Alice', 'Steve'], ['age', 'weight']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
           names=['person', None])

In [3]:
#Reset the index
persontall = people.reset_index()

In [4]:
#Rename columns
persontall.columns = ['person', 'attribute', 'value']

In [5]:
#Convert back to original
unstacked = people.unstack()
unstacked.reset_index(inplace = True)
unstacked

  person  age  weight
0    Bob   32     128
1  Alice   24      86
2  Steve   64      95

In [8]:
#Pivot
persontall.pivot('person','attribute','value')

attribute  age  weight
person
Alice       24      86
Bob         32     128
Steve       64      95