In [2]:
m = True
n = 3.14
q = "âˆ’7.2345907654"
print (type(m))
print (type(n))
print (type(q))

<class 'bool'>
<class 'float'>
<class 'str'>

In [8]:
String1 = 'Monty Python'
String2 = "Monty Python"
String3 = 'Monty ' + 'Python'


type(String3)
String3

'Monty Python'

In [12]:
Evennumbers = [2, 4, 6, 8, 10, 12, 14, 16, 18]
Temp = Evennumbers[1]+Evennumbers[3]

print (Evennumbers[1])
print (Evennumbers[3])
print (Evennumbers[7])
Temp

4
8
16

12

In [15]:

Suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

Suitcase[1:]
Suitcase[:4]

['sunglasses', 'hat', 'passport', 'laptop']

In [19]:
x = 5
if x == 5 and x < 5:
     print("Welcome to the world of logical operators")
else:
     print("Try Again")

Try Again

In [20]:
xlist = [1, 2, 3, 4]
for x in xlist:
     print(x + 1)

2
3
4
5

In [24]:
nlist = [8, 92, 79, 55, 23, 17, 4, 45, 63, 9, 100]
threshold = int(input('Type Threshold: '))
if (max(nlist) > threshold):
     print('Great')
else:
     print('Not great')

Type Threshold: 55
Great

In [1]:
examples = ['abab', 'xyz', 'aa', 'x', 'bcb']

for i in examples:
    if len(i) >= 3 and i[0] == i[-1]:
        print(i)

bcb

In [33]:
examples = ['', 'x', 'xy', 'xyx', 'xx']

for i in examples:
    if len(i) >= 3 and i[0] == i[-1]:
        print(i)

xyx

In [34]:
examples = ['aaa', 'be', 'abc', 'hello']

for i in examples:
    if len(i) >= 3 and i[0] == i[-1]:
        print(i)

aaa

In [2]:
import os
os.getcwd()
import numpy as np

state = open('state_satscores_2004.txt', 'r')

state_list = [] #Create Empty List
for i in state: #Write the file to a new list with some operations
    textline = i.strip()
    items = textline.split()
    state_list.append(items)

state = [] #Empty List
verbal = [] #Empty List
math = [] #Empty List
for stat, verba, mat in state_list:
    state.append(stat) #append string
    verbal.append(int(verba)) #append as int for operations
    math.append(int(mat)) #append as int for operations
    
max_verbal = np.max(verbal) #numpy for max of list
max_state = state[verbal.index(max_verbal)] #index search on max verbal score

print('State with the Highest Avg Verbal SAT Score = {} ||| Score = {}'.format(max_state, max_verbal))


sat_500 = [] #create empty list
math_above500= []

for i in math:
    if i >= 500:
        sat_500.append(state[math.index(i)]) #iterate and update list with math{index} > 500
        math_above500.append(i)

counter = 0 #Counter for check
for i in math: #Counter how many instances of the list are greater or equal to 500
    if i >= 500:
        counter +=1
        
try: #Simple try catch for seeing if the length of the list is equiv. to the counter value
    if len(sat_500) == counter:
        for i,j in zip(sat_500, math_above500):
            print('State: {} | Math SAT Avg: {}'.format(i, j))
except:
    print('something went wrong')

State with the Highest Avg Verbal SAT Score = South_Dakota ||| Score = 594
State: New_York | Math SAT Avg: 510
State: Connecticut | Math SAT Avg: 515
State: Massachusetts | Math SAT Avg: 523
State: New_Jersey | Math SAT Avg: 514
State: New_Hampshire | Math SAT Avg: 521
State: Maine | Math SAT Avg: 501
State: Pennsylvania | Math SAT Avg: 502
State: Pennsylvania | Math SAT Avg: 502
State: Virginia | Math SAT Avg: 509
State: North_Carolina | Math SAT Avg: 507
State: Connecticut | Math SAT Avg: 515
State: Vermont | Math SAT Avg: 512
State: Indiana | Math SAT Avg: 506
State: New_Jersey | Math SAT Avg: 514
State: Oregon | Math SAT Avg: 528
State: New_Jersey | Math SAT Avg: 514
State: Washington | Math SAT Avg: 531
State: California | Math SAT Avg: 519
State: New_Jersey | Math SAT Avg: 514
State: Arizona | Math SAT Avg: 524
State: Montana | Math SAT Avg: 539
State: Ohio | Math SAT Avg: 542
State: Colorado | Math SAT Avg: 553
State: Montana | Math SAT Avg: 539
State: New_Jersey | Math SAT Avg: 514
State: Tennessee | Math SAT Avg: 557
State: New_Mexico | Math SAT Avg: 543
State: Tennessee | Math SAT Avg: 557
State: Wyoming | Math SAT Avg: 546
State: Michigan | Math SAT Avg: 573
State: Illinois | Math SAT Avg: 597
State: Minnesota | Math SAT Avg: 593
State: Colorado | Math SAT Avg: 553
State: Kansas | Math SAT Avg: 585
State: Louisiana | Math SAT Avg: 561
State: Kansas | Math SAT Avg: 585
State: Nebraska | Math SAT Avg: 576
State: Oklahoma | Math SAT Avg: 566
State: Wisconsin | Math SAT Avg: 596
State: Utah | Math SAT Avg: 556
State: Arkansas | Math SAT Avg: 555
State: Iowa | Math SAT Avg: 602
State: Illinois | Math SAT Avg: 597
State: Mississippi | Math SAT Avg: 547
State: North_Dakota | Math SAT Avg: 601

In [8]:
import numpy as np
numbs = [1,2,3,4,5,6,7,8,9]
np.mean(numbs)

(array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1], dtype=int64),
 array([1. , 1.8, 2.6, 3.4, 4.2, 5. , 5.8, 6.6, 7.4, 8.2, 9. ]))